


























<!-- <html lang="en" ng-app="PopQuizApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>POP QUIZ</title>

</head>

<body ngcloak ng-controller="PopQuizCtrl as ctrl">

    <h1> Pop Quiz</h1>

    <form name="popQuizForm" ng-submit="ctrl.submitQuiz()" novalidate >
    <!-- action="" method="get"> -->

        <!-- <div>
            <label>{{ctrl.quiz.question}}</label>

        </div>

        <br>

        <div>
           
            <ul ng-repeat="answer in ctrl.quiz.answers" style="list-style-type:none">
                <li><input name="answer" type="radio" ng-model="ctrl.finalAnswer.choice" value="{{answer.idx}}"/> {{answer.desc}}</li>
            </ul>
            
        </div>

        <textarea rows="4" cols="50" ng-model="ctrl.finalAnswer.remarks"></textarea>
        
        <br />
        <input id="submit" name="submit" type="submit" value="Submit">

      </form>
      <div>
          {{ctrl.isCorrect.correctMessage}}
      </div>
</body>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/app.module.js"></script>
<script src="js/app.controller.js"></script>


</html> -->